@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face { 
    font-family: "PlusJakartaSans"; 
    src: url('../fonts/PlusJakartaSans.ttf'); 
    font-display: fallback; /* Define how the browser behaves during download */ 
}

body {
    font-family: "PlusJakartaSans" !important;
}