.background_main__DNPzk {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px;
    pointer-events: none;
}

.background_main__DNPzk:before {
    background: radial-gradient(circle,rgba(2,0,36,0) 0,#fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.background_main__DNPzk:after {
    background-image: url(../img/grid.svg);
    content: "";
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: .4;
    filter: invert(1);
}

.background_content__Y5Uld {
    height: -moz-fit-content;
    height: fit-content;
    z-index: 3;
    max-width: 640px;
    background-image:radial-gradient(at 27% 37%,#3a8bfd 0,transparent 0),
                     radial-gradient(at 97% 21%,#72fe7d 0,transparent 50%),
                     radial-gradient(at 52% 99%,#fd3a4e 0,transparent 50%),
                     radial-gradient(at 10% 29%,#855afc 0,transparent 50%),
                     radial-gradient(at 97% 96%,#e4c795 0,transparent 50%),
                     radial-gradient(at 33% 50%,#8ca8e8 0,transparent 50%),
                     radial-gradient(at 79% 53%,#eea5ba 0,transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: .15;
}

.home-header {
    background: white;
}

@media screen(lg) {
    .home-header {
        background: url(../img/header.png) center right no-repeat;
        background-size: cover;
        border-bottom: solid 1px #EAEAEA;
    }
}